{% extends 'base.html' %}

{% block content %}

<div class="row">

  <div class="col-8">
    {% for youtuber in youtuberList %}
    <h3>{{youtuber.ChannelInfo}}</h3>
    <hr />
    {% endfor %}
    <div class="row">
      <div class="col-12">
        <div class="card" id="viewcountId">
          <div class="card-header">
            Number of Viewcount of Related Channels
          </div>
          <div class="card-body">
            <canvas id="viewcountChart"></canvas>
          </div>
        </div>
        <div class="card">
          <div class="card-body">
            <img id="nochannelImg" src="/static/assets/img/nobody.gif" alt="polarity image"/>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-12">
        <div class="card" id="subscribercountId">
          <div class="card-header">
            Number of Subscribers of Related Channels
          </div>
          <div class="card-body">
            <canvas id="subscribercount"></canvas>
          </div>
        </div>
      </div>

    </div>
  </div>

  <div class="col-4">
    <h3>Related Channels</h3>
    <hr />

    {% for feature in featureChannelsInfo %}
    <div class="card mb-3" style="max-width: 540px;">
      <div class="row no-gutters">
        <div class="col-md-4">
          <img src="{{feature.thumbnails}}" class="card-img" alt="{{feature.title}}">
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <h5 class="card-title">{{feature.title}}</h5>
            <div class="row">
              <p><i class="fas fa-eye col-4"></i>&nbsp; {{feature.viewCount}}</p>
              <p><i class="fas fa-users col-4"></i>&nbsp; {{feature.subscriberCount}}</p>
              {% if feature.Country %}
              <p><i class="fas fa-globe col-4"></i>&nbsp; {{feature.Country}}</p>
              {% endif %}
            </div>
          </div>
        </div>
      </div>
    </div>
    {% endfor %}

    <p>No related channel</p>
  </div>
</div>


{% endblock %}

{% block script %}

<script>

  $(document).ready(function () {
    $('#nochannelImg').hide();
    const urlParams = new URLSearchParams(window.location.search);
    const channelId = urlParams.get('channelId');

    // GET is the default method, so we don't need to set it
    fetch('/featureData?channelId=' + channelId)
      .then(function (response) {
        return response.text();
      }).then(function (result) {
        data = JSON.parse(result)
        if(data.nochannel == false){
          // hide nochannelImg
          $('#viewcountId').hide();
          $('#subscribercountId').hide();
          $('#nochannelImg').show();
        }

        var ctx = document.getElementById('viewcountChart').getContext('2d');
        var myChart = new Chart(ctx, {
          type: 'doughnut',
          data: {
            labels: data.labels,
            datasets: [{
              label: 'Number of Viewcount',
              data: data.viewcount,
              backgroundColor: 'rgba(54, 162, 235, 0.6)',
              borderWidth: 1
            }]
          },
          options: {
            legend: {
              display: false
            },
            scales: {
              yAxes: [{
                ticks: {
                  beginAtZero: true,
                  display: false
                },
                gridLines: {
                  display: false
                }
              }],
              xAxes: [{
                ticks: {
                  display: false
                },
                gridLines: {
                  display: false
                }
              }]
            }
          }
        });

        //video like chart
        var ctx2 = document.getElementById('subscribercount').getContext('2d');
        var myChart = new Chart(ctx2, {
          type: 'line',
          data: {
            labels: data.labels,
            datasets: [{
              label: 'Number of Subscribers',
              data: data.subscribercount,
              backgroundColor: 'rgba(255, 206, 86, 0.6)',
              borderWidth: 1
            }]
          },
          options: {
            legend: {
              display: false
            },
            scales: {
              yAxes: [{
                ticks: {
                  beginAtZero: true,
                  display: false
                },
                gridLines: {
                  display: false
                }
              }],
              xAxes: [{
                ticks: {
                  display: false
                },
                gridLines: {
                  display: false
                }
              }]
            }
          }
        });

      });



  });
</script>

{% endblock %}