{% extends 'base.html' %}

{% block content %}
<div class="row ml-3">
  <h3>Channels</h3>
  <hr/>

  <div class="col-12 mb-3">
    <form class="form-inline" action="{{ url_for('index') }}" method="POST">
      <input class="form-control col col-lg-9" type="search" name="channelSearch" placeholder="Search for channels"
        aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0 col-md-2 ml-auto" type="submit">Search</button>
    </form>
  </div>
</div>
<!--Channel List-->
<div class="row">
  <div class="col-6">
    {% for channel in channelList %}
    <div class="row">
      <div class="col-12 dropright">
        <div class="dropdown-toggle dropdown-toggle-split" data-toggle="dropdown">
          <div class="card">
            <div class="card-body">
              <div class="row">
                <div class="col-md-3">
                  <img src="{{channel.url}}" class="card-img" alt="{{channel.title}}">
                </div>
                <div class="col-md-3" title="{{channel.description}}">
                  <h5 class="card-title text-truncate" style="max-width: 250px;" >{{channel.title}}</h5>
                  <p class="card-text text-truncate">{{channel.description}}</p>
                </div>
              </div>
            </div>
          </div>

        </div>

        <div class="dropdown-menu col-3">
          <div class="row">
            <div class="card" style="width: 18rem;">
              <div class="card-body">
                <h5 class="card-title">View Count :</h5>
                <p><i class="fas fa-eye"></i>&nbsp; {{channel.viewcount}}</p>
              </div>
            </div>
            <div class="card" style="width: 18rem;">
              <div class="card-body">
                <h5 class="card-title">Subscriber Count :</h5>
                <p><i class="fas fa-users"></i>&nbsp; {{channel.subscribercount}}</p>
              </div>
            </div>
            {% if channel.language %}
            <div class="card" style="width: 18rem;">
              <div class="card-body">
                <h5 class="card-title">Language :</h5>
                <p><i class="fas fa-globe"></i>&nbsp;{{channel.language}}</p>
              </div>
            </div>
            {% endif %}
            <a href="/channel-details?channelId={{channel.channelid}}" class="btn">View More</a>
          </div>
        </div>

      </div>
    </div>
    {% endfor %}
  </div>
  <div class="col-6" >

    <canvas id="myChart" height="400"></canvas>

  </div>
</div>


{% endblock %}

{% block script %}

<script>

  $(document).ready(function () {

    // GET is the default method, so we don't need to set it
    fetch('/channelData')
      .then(function (response) {
        return response.text();
      }).then(function (result) {
        data = JSON.parse(result)

        var ctx = document.getElementById('myChart').getContext('2d');
        var myChart = new Chart(ctx, {
          type: 'horizontalBar',
          data: {
            labels: data.labels,
            datasets: [{
              label: '# of Viewcount',
              data: data.viewcount,
              backgroundColor: [
                'rgba(255, 99, 132, 0.2)',
                'rgba(54, 162, 235, 0.2)',
                'rgba(255, 206, 86, 0.2)',
                'rgba(75, 192, 192, 0.2)',
                'rgba(153, 102, 255, 0.2)',
                'rgba(255, 99, 132, 0.2)',
                'rgba(54, 162, 235, 0.2)',
                'rgba(255, 206, 86, 0.2)',
                'rgba(75, 192, 192, 0.2)',
                'rgba(153, 102, 255, 0.2)',
                'rgba(255, 99, 132, 0.2)',
                'rgba(54, 162, 235, 0.2)',
                'rgba(255, 206, 86, 0.2)',
                'rgba(75, 192, 192, 0.2)',
                'rgba(153, 102, 255, 0.2)',
                'rgba(255, 99, 132, 0.2)',
                'rgba(54, 162, 235, 0.2)',
                'rgba(255, 206, 86, 0.2)',
                'rgba(75, 192, 192, 0.2)',
                'rgba(153, 102, 255, 0.2)',
                'rgba(255, 99, 132, 0.2)',
                'rgba(54, 162, 235, 0.2)',
                'rgba(255, 206, 86, 0.2)',
                'rgba(75, 192, 192, 0.2)',
                'rgba(153, 102, 255, 0.2)',
              ],
              borderWidth: 1
            }]
          },
          options: {
            legend: {
              display: false
            },
            scales: {
              yAxes: [{
                ticks: {
                  beginAtZero: true,
                  mirror: true
                }
              }],
              xAxes: [{
                ticks: {
                  display: false
                }
              }]
            }
          }
        });

      });



  });
</script>

{% endblock %}