{% extends 'base.html' %}

{% block content %}
    <!--Channel List-->
    {% for channel in channelList %}
    <div class="row">
      <div class="col-5">
        <div class="card card-chart">
          <div>
            <div class="row no-gutters">
              <div class="col-md-2">
                <img src="{{channel.url}}" class="card-img" alt="{{channel.title}}">
              </div>
              <div class="col-md-3">
                <div class="card-body">
                  <h5 class="card-title">{{channel.title}}</h5>
                  <!-- <p class="card-text">{{channel.description}}</p> -->
                </div>
                <!-- <div class="card-footer">
                  <div class="row">
                    <div class="col-md-4">
                      <p><i class="fas fa-eye"></i>&nbsp;View Count: {{channel.viewcount}}</p>
                    </div>
                    <div class="col-md-4">
                      <p><i class="fas fa-users"></i>&nbsp;Subscriber Count: {{channel.subscribercount}}
                    </div>
                    {% if channel.language %}<div class="col-md-4">
                      <p><i class="fas fa-globe"></i>&nbsp;{{channel.language}}</p>
                    </div>{% endif %}
                  </div> -->
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    {% endfor %}
{% endblock %}